{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "camelcase": ["error", {"properties": "never"}],
    "quotes": ["error", "single", "avoid-escape"],
    "no-underscore-dangle": "off",
    "no-useless-escape": "off",
    "complexity": ["error", { "max": 35 }],
    "no-use-before-define": ["off", { "functions": false }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-prototype-builtins": "off",
    "no-var": "error",
    "prefer-const": ["error", { "destructuring": "all" }]
  },
  "globals": {
    "output": true
  }
}
